import("methods")
import("tsmethods")
import("data.table")
importFrom("zoo","zoo","index","na.fill")
importFrom("xts","xts")
importFrom("stats", "quantile", "sd", "time")
importFrom("graphics", "abline", "layout", "legend", "mtext", "par","plot")
importFrom("utils", "tail")
importFrom("rmarkdown","render")
importFrom("bookdown","pdf_document2","word_document2","html_document2")
export("tscausal")
S3method("print","tscausal")
S3method("tsreport","tscausal")
S3method("tscausal","tsmodel.distribution")
S3method("plot","tscausal")
